<!-- page header -->
<nav class="navbar navbar-inverse navbar-fixed-top bg-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AuctionSim</a>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="nav navbar-nav navbar-right flex-row justify-content-between ml-auto">
      <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
      <li class="dropdown order-1">
        <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right mt-1">
          <li class="p-3">
            <form class="form" role="form" onsubmit={{ loginUser }}>
              <div class="form-group">
                <input id="email" placeholder="Email" class="form-control form-control-sm" type="text" required="">
              </div>
              <div class="form-group">
                <input id="password" placeholder="Password" type="password" class="form-control form-control-sm" type="text" required="">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </div>
              <div class="form-group text-xs-center">
                <small><a href="#">Forgot password?</a></small>
              </div>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- end of header -->

<!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="index.html"><img id = "logo" src = "http://i.imgur.com/khUuogz.png"/></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="index.html">HOME</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SUPPORT<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="FAQ.html">FAQ</a></li>
                <li><a href="Contact.html">Contact Us</a></li>
                <li><a href="infograph.html">Learn More</a></li>
            </ul>
          </li>
        <li><a href="index2.html">SHOP</a></li>
        <li><a href="checkout.html"><span class="glyphicon glyphicon-shopping-cart"></span> CART<span class="badge" id="badgenumber">0</span></a></li>
      </ul>
    </div>
  </div>
</nav> -->
