<nav class="navbar navbar-inverse navbar-fixed-top bg-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">AuctionSim</a>
    </div>
    <a href="/newitem" class="btn btn-inverse">New Item</a>
    <p class="primary">Welcome</p>
  </div>
</nav>
